.container{
    display: flex;
    font-size: 200px;
    background-color: rgb(82, 79, 99);
    margin : 15px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    background-color: rgb(215, 227, 224);
}